.container {width:1200px;  margin:0 auto;}
.row {display:flex;}
body {
  background: black;
  color:white;
}
header {
  padding:0 0 20px;
}
li {
  list-style-type:none;
  margin-right:15px;
  font-size: 20px;
}
ul{
  margin: 0;
  padding:0;
}
a {
  text-decoration: none;
  color:white;
}
.card_info {
  padding:5px;

}
.card_img {
  width:30%;
}
.card_img img {
  width: 100%;
}
.card_name {
  font-size:30px;
  padding-bottom:20px;
}
.card_name p {
  margin :0;
  padding:0;
}
.card_info_myself {
  width: 50%;
  font-style:italic;
  font-size: 17px;
}
.category {
  font-style:normal;
  font-size: 20px;
}
